body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

.home {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("./images/lakeplacid.JPG") no-repeat center bottom fixed;
    background-size: cover;

}

.intro-content {
    display: inline-block;
    /*border: 1px solid white;*/
    width: 95%;
}

    .intro-content h1 {
        color: #eccb7a;
        font-family: "Optima";
        font-weight: normal;
        font-size: 80px;
        margin-bottom: 15px;
    }

    .intro-content h3 {
        color: #f0eeef;
        font-family: "Didot";
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 17px;
    }

.menu-bar {
    text-align: center;
    height: 50px;
    border: 1px solid black;
    background-color: #eccb7a;
}

.menu-item {
    display: inline;
    margin-right: 40px;
    margin-left: 40px;
}

    .menu-item button {
        margin-top: 10px;
        background: none;
        border: none;
        height: 30px;
        font-family: "Optima";
        font-size: 20px;
        color: #050001;
    }

.about-me {
    text-align: center;
    position: relative;
    width: 100vw;
    background: url("./images/gray-texture.jpg") no-repeat center bottom fixed;
    background-size: cover;
    color: #f0eeef;
}
    .about-title{
        padding-top: 50px;
    }
        .acadia-img {
            display: inline-block;
            height: 300px;
        }
        .about-text {
            margin-left: 20px;
            display: inline-block;
        }